# {{ name }}

[![Build Status](https://travis-ci.com/pykit3/{{ name }}.svg?branch=master)](https://travis-ci.com/pykit3/{{ name }})
![Python package](https://github.com/pykit3/{{ name }}/workflows/Python%20package/badge.svg)
[![Documentation Status](https://readthedocs.org/projects/{{ name }}/badge/?version=stable)](https://{{ name }}.readthedocs.io/en/stable/?badge=stable)
[![Package](https://img.shields.io/pypi/pyversions/{{ name }})](https://pypi.org/project/{{ name }})

{{ description }}

{{ name }} is a component of [pykit3] project: a python3 toolkit set.

{{ package_doc }}


# Install

```
pip install {{ name }}
```

# Synopsis

```python
{{ synopsis }}
```

#   Author

Zhang Yanpo (张炎泼) <drdr.xp@gmail.com>

#   Copyright and License

The MIT License (MIT)

Copyright (c) 2015 Zhang Yanpo (张炎泼) <drdr.xp@gmail.com>


[pykit3]: https://github.com/pykit3
